<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true">
  <variable name="nameApp" value="DemoApi" />
  
  <variable name="pathLog" value="${basedir}/NLog" />
  <variable name="defaultLayout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

  <!-- Enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- The targets to write to -->
  <targets async="true">
    <!-- Create logs folder if it doesn't exist -->
    <target xsi:type="File" 
            name="AppExceptionLog" 
            fileName="${pathLog}/${nameApp}.Exception.${date:format=yyyyMMdd}.log" 
            layout="${defaultLayout}"
            createDirs="true"
            keepFileOpen="false"
            encoding="utf-8" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Error" writeTo="AppExceptionLog" />
  </rules>
</nlog>